/* Global styles */
body {
  font-family: 'Arial', sans-serif; /* Backup font in case Arial is not available */
  margin: 0;
  padding: 0;
  background-color: #f5f5f5; /* Light gray background color */
}

/* Navigation styles */
nav {
  text-align: center; /* Center the navigation menu */
  background-color: #333; /* Dark gray background color */
  padding: 10px 0; /* Adjust padding for better alignment */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  padding: 10px;
  color: #fff; /* White text color for navigation links */
  transition: padding 0.3s; /* Smooth transition for padding changes */
}

nav ul li a:hover {
  background-color: #555; /* Darker gray background color for hover state */
  padding: 14px; /* Increase padding on hover */
}

/* Header styles */
h1, h2 {
  text-align: center;
  color: #333; /* Dark gray heading color */
}

/* Section styles */
section {
  margin: 20px auto; /* Center sections horizontally */
  max-width: 800px; /* Limit section width */
  background-color: #fff; /* White background color for sections */
  padding: 20px;
  border-radius: 10px; /* Rounded corners for sections */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for sections */
}

section h2 {
  margin-top: 40px; /* Add space between section headings */
  color: #555; /* Dark gray heading color */
}

section p {
  margin-bottom: 10px; /* Add space between paragraphs */
  color: #777; /* Gray paragraph text color */
  text-align: center; /* Center align text */
}

/* List styles */
ul {
  padding-left: 20px; /* Add left padding to lists */
}

/* Experience section styles */
section ul {
  margin-left: 20px; /* Indent nested lists */
}

/* Link styles */
a {
  color: #007bff; /* Blue link color */
}

a:hover {
  text-decoration: underline;
}

/* Floats and positions for layout */
nav {
  position: relative; /* Required relative position */
  float: left; /* Float left for layout */
  width: 100%; /* Width 100% for fluidity */
}

section {
  position: relative; /* Required relative position */
  float: left; /* Float left for layout */
  width: 100%; /* Width 100% for fluidity */
  box-sizing: border-box; /* Include padding in the width calculation */
}
