/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Navigation styles */
nav {
  text-align: center; /* Center the navigation menu */
  background-color: #333; /* Background color for the navigation menu */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  padding: 10px;
  color: #fff; /* Text color for navigation links */
}

nav ul li a:hover {
  background-color: #555; /* Background color for hover state */
}

/* Header styles */
h1 {
  text-align: center;
}

/* Section styles */
section {
  margin: 20px auto; /* Center sections horizontally */
  max-width: 800px; /* Limit section width */
}

section h2 {
  margin-top: 40px; /* Add space between section headings */
}

section p {
  margin-bottom: 10px; /* Add space between paragraphs */
}

/* Experience section styles */
section ul {
  margin-left: 20px; /* Indent nested lists */
}

/* Image styles */
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* photo styles */
#siblingPhoto,
#PathwayBrassBandPhoto {
  display: block;
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#videoGamePhoto {
  display: block;
  margin: 20px auto;
}

/* Video styles */
iframe {
  display: block;
  margin: 20px auto;
}

/* Link styles */
a {
  color: blue;
}

a:hover {
  text-decoration: underline;
}
